.hero {
    grid-area: hero;
    width: 100%;
    max-width: 1200px;

    & .title {
        min-height: 210px;
        padding: 60px 10px;
        color: var(--color-2);
        text-align: center;
        background-image: linear-gradient(
            195.42deg,
            #ed1e79 -13.39%,
            #662d8c 83.2%
        );
        border-radius: var(--border-radius-angle) var(--border-radius-angle) 0 0;

        & h1 {
            font-size: 35px;
        }

        & h2 {
            font-size: 24px;
            font-weight: 500;
        }
    }

    & .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: start;
        justify-content: center;
        min-height: 135px;
        padding: 15px;
        color: var(--color-2);
        background: var(--color-7);
        border-radius: 0 0 var(--border-radius-angle) var(--border-radius-angle);

        & span {
            display: flex;
            align-items: center;
            padding: 8px 14px;
            cursor: pointer;
            background-color: var(--color-4);
            border: 2px solid transparent;
            border-radius: 30px;
            transition: border-color 0.1s ease;

            &:hover {
                border-color: var(--color-6);
            }

            &[data-active='true'] {
                border-color: var(--color-3);
            }

            & svg {
                --size: 24px;

                width: var(--size);
                height: var(--size);
                margin-right: 5px;
            }
        }
    }
}
